{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{% static 'favicon.jpg' %}" />
  <title>Elektra | Electricity Outage prediction
  </title>

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <!-- Main CSS File -->
  <link href="{% static 'style.css' %}" rel="stylesheet" />

  <script type="text/javascript" src="{% static 'main.js' %}">
  </script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  
  <!--style for contact page-->
  {% block style %}{% endblock style %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <style>
    /*width : 100vw is for responsiveness of map*/
    #mapid { height: 700px; width:100vw;}
  </style>
</head>

<body>
  <!-- Preloader -->
<div class="preloader" id="preloader">
  <div class=status id="status">
  <!-- <img src="{% static 'Elektra_Logo.png' %}"> --> 
  </div>
</div>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1>
          <!-- Icon -->
          <a href="/"><img src="{% static 'Elektra_Logo.png' %}" style="margin-top: -10px;" alt=""></a>
        </h1>
      </div>

      <!--NAVBAR-->

      <nav class="nav-menu d-none d-lg-block ml-auto">
        <ul>
          {% with request.resolver_match.url_name as url_name %}
          <li><a {% if url_name == 'home' %}class="active"{% endif %} href="{% url 'home' %}">Home</a></li>
          <li><a {% if url_name == 'map' %}class="active"{% endif %} href="{% url 'map' %}">Map</a></li>
          <li><a {% if url_name == 'dashboard' %}class="active"{% endif %} href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a {% if url_name == 'announcements' %}class="active"{% endif %} href="{% url 'announcements' %}">Announcements</a></li>
          <li><a {% if url_name == 'feedback' %}class="active"{% endif %} href="{% url 'feedback' %}">Feedback</a></li>
          <li><a {% if url_name == 'contact' %}class="active"{% endif %} href="{% url 'contact' %}">Contact Us</a></li>
          {%endwith%}
          {% if user.is_authenticated %}
          <li><a class="usernamelink" href="#" >Welcome, {{ user.first_name }}  {{user.last_name}}</a></li>
          <li style=" font-weight: 800;
                    font-size: 13px;
                    display: inline-block;
                    padding: 1px 1px 1px 1px;
                    border-radius: 50px;
                    transition: 0.5s;
                    background: #FED103;
                    border-style: none;
                    color: #fff;"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
                <li style=" font-weight: 800;
                    font-size: 13px;
                    display: inline-block;
                    padding: 1px 1px 1px 1px;
                    border-radius: 50px;
                    transition: 0.5s;
                    background: #FED103;
                    border-style: none;
                    color: #fff;"><a href="{% url 'login' %}">Login/Signup</a></li>
          {% endif %}
          

        </ul>
      </nav>

      <!-- NAVBAR -->
    </div>
  </header>

  <!-- End Header -->

  <br>
  <br>
  <br>
  <br>

  {% block content %}

  {% endblock %}

  
  <!-- ======= Footer ======= -->
<!--If on contact page then don't use the contact footer-->
{% with request.resolver_match.url_name as url_name %}
{% if url_name != 'contact' %}
  <section id="contact">
    <div class="section-title">
      <h2>Contact</h2>
    </div>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-info">
              <h3>
                <img src="{% static 'Elektra_Logo.png' %}" style="width: 130px; margin-left: 80px;" />
              </h3>
              <p>
                An ML powered Electricity Outage prediction tool.
              </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="{% url 'map' %}">Maps</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li>
                  <i class="ion-ios-arrow-right"></i> <a href="{% url 'announcements' %}">Announcements</a>
                </li>

              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                <b><a href="mailto:khannakshat7@gmail.com">khannakshat7@gmail.com</a></b>
                <b><a href="mailto:unnaticse2019@gmail.com">unnaticse2019@gmail.com</a></b>
              </p>


            </div>


          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          Made with ❤️️ by <strong><a
              href="https://linktr.ee/akshatkhanna" style="color: #25B0F0;">Akshat Khanna</a> & <a href="https://linktr.ee/Ping_Unnati" style="color: #25B0F0;">Unnati Mishra</a></strong>.
        </div>
      </div>
    </footer>
  </section>
{% endif %}
{% endwith %}
  <!-- End Footer -->
  </section>


  
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'main.js' %}"></script>
  <script>
         $(document).ready(function() {
        setTimeout(function() {
            $("#confirm").trigger('click');
        }, 4000);
        });
  </script>
</body>

</html>





<!-- JAVASCRIPT FOR FETChING CASES , LIVE UPDATES -->
<script type="text/javascript">
  $(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(2550).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(2850).css({'overflow':'visible'});
})
  fetch('https://corona.lmao.ninja/v2/countries/India')
    .then((response) => {
      return response.json();
    })
    .then((data) => {
      document.getElementById("tests").innerHTML = data.tests;
      document.getElementById("active").innerHTML = data.active;
      document.getElementById("cases").innerHTML = data.cases;
      document.getElementById("population").innerHTML = data.population;
      document.getElementById("recovered").innerHTML = data.recovered;
      document.getElementById("deaths").innerHTML = data.deaths;
      document.getElementById("todayCases").innerHTML = data.todayCases;
      document.getElementById("todayRecovered").innerHTML = data.todayRecovered;
      document.getElementById("todayDeaths").innerHTML = data.todayDeaths;
    })
</script>
