{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
.alert {
    width: 90%;
    margin-left: 6vw;
    margin-top: 1vh;
}
form
{
    width: 100%;
}
/*css for errror area*/
.errorarea1
  {
    display:none;
      margin-top: 5px;
  }
  .errorarea2
  {

    display:none;
      margin-top: 5px;
  }
  /* The message box is shown when the user clicks on the password field */
  #message {
    visibility:hidden;
  }
  
  #message p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }

  #message2 {
    visibility:hidden;
  }
  
  #message2 p {
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 0px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -3px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -3px;
    content: "✖";
  }
  .alert {
    width:90%;
    margin-left:6vw;
    margin-top:1vh;
  }
</style>

{% endblock style %}
{% block content %}

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    {% if messages %}
                                    <div>
                                      {% for message in messages %}
                                      {% if message.tags == 'error' %}
                                      <div class="alert alert-danger text-center">{{ message }}</div>
                                      {% else %}
                                      <div class="alert alert-success text-center">{{message}}</div>
                                      {% endif %}
                                      {% endfor %}
                                    </div>
                                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <form class="m-5" name="form_one" method="POST">
                                {% csrf_token %}
                                <h2>Change Your password</h2>
        
                                <div class="form-group">
                                    <input type="password" name="new_password" class="form-control" placeholder="New Password"  placeholder="Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                                </div>
                                  <div class="form-group">
                                    <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">                              
                                  </div>
                                <button type="submit"  name="form_one" class="btn btn-primary">Submit</button>  
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %} 