{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= About Section ======= -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        form {
            color: #f5ec00;
            font-size: 18px;
        }

        label {
            color: #000;
        }

        .alert-error{
            background-color: rgb(247, 160, 160);
            color: whitesmoke;
        }
    </style>

    <!-- alert section -->
    {% if msg %}
    <div class="alert alert-{{tag}} alert-dismissible fade show text-center mx-2" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <!-- form section -->
    <section style="border:2px solid #43a7d5">
        <div style="background:#43a7d5">

        </div>

        <aside style="padding:15px">
            <h5 style="color: #000;">
                <p>Dear Customer,<br>
                    Thank you for letting us serve you. We would like to know how we performed.
                    Please
                    spare some moments to give us your valuable feedback as it will help us in improving our service.
                </p>
            </h5>
            <br>

            <h4>Please rate your service experience for the following parameters</h4>

            <form method="POST" action={% url 'feedback' %}>
                
                {% csrf_token %}
                
                <label>1. Your overall experience with us ?</label><br>

                <span class="star-rating">
                    <input type="radio" name="overall_experience" value="1" required><i></i>
                    <input type="radio" name="overall_experience" value="2" required><i></i>
                    <input type="radio" name="overall_experience" value="3" required><i></i>
                    <input type="radio" name="overall_experience" value="4" required><i></i>
                    <input type="radio" name="overall_experience" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>2. Time to time update of your location.</label><br>
                <span class="star-rating">
                    <input type="radio" name="time_to_time_update" value="1" required><i></i>
                    <input type="radio" name="time_to_time_update" value="2" required><i></i>
                    <input type="radio" name="time_to_time_update" value="3" required><i></i>
                    <input type="radio" name="time_to_time_update" value="4" required><i></i>
                    <input type="radio" name="time_to_time_update" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>3. Experience while waiting for response from Electricity board.</label><br>
                <span class="star-rating">
                    <input type="radio" name="experience_due_to_delay" value="1" required><i></i>
                    <input type="radio" name="experience_due_to_delay" value="2" required><i></i>
                    <input type="radio" name="experience_due_to_delay" value="3" required><i></i>
                    <input type="radio" name="experience_due_to_delay" value="4" required><i></i>
                    <input type="radio" name="experience_due_to_delay" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>4. Satisfactory Visuals/Images</label><br>
                <span class="star-rating">
                    <input type="radio" name="visuals_satisfactory" value="1" required><i></i>
                    <input type="radio" name="visuals_satisfactory" value="2" required><i></i>
                    <input type="radio" name="visuals_satisfactory" value="3" required><i></i>
                    <input type="radio" name="visuals_satisfactory" value="4" required><i></i>
                    <input type="radio" name="visuals_satisfactory" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>5. Quality of work done</label><br>
                <span class="star-rating">
                    <input type="radio" name="quality_of_work" value="1" required><i></i>
                    <input type="radio" name="quality_of_work" value="2" required><i></i>
                    <input type="radio" name="quality_of_work" value="3" required><i></i>
                    <input type="radio" name="quality_of_work" value="4" required><i></i>
                    <input type="radio" name="quality_of_work" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>6.The display of Maps</label><br>
                <span class="star-rating">
                    <input type="radio" name="experience_of_display_maps" value="1" required><i></i>
                    <input type="radio" name="experience_of_display_maps" value="2" required><i></i>
                    <input type="radio" name="experience_of_display_maps" value="3" required><i></i>
                    <input type="radio" name="experience_of_display_maps" value="4" required><i></i>
                    <input type="radio" name="experience_of_display_maps" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>7. The Announcements section</label><br>
                <span class="star-rating">
                    <input type="radio" name="experience_of_announcements_section" value="1" required><i></i>
                    <input type="radio" name="experience_of_announcements_section" value="2" required><i></i>
                    <input type="radio" name="experience_of_announcements_section" value="3" required><i></i>
                    <input type="radio" name="experience_of_announcements_section" value="4" required><i></i>
                    <input type="radio" name="experience_of_announcements_section" value="5" required><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label for="others_suggestions">8. Any Other suggestions (optional):</label><br /><br />
                <textarea cols="75" name="others_suggestions" rows="5" style="width:100%"></textarea>
                <p style="color: #ff5151;font-size: 13px;margin-left: 2px;">Write within 100 characters</p>
                <br><br>
                <div class="clear"></div>
                <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit"
                    value="Submit your review">&nbsp;
            </form>
        </aside>
    </section>

{% endblock %}
