{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ======= About Section ======= -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        form {
            color: #f5ec00;
            font-size: 18px;
        }

        label {
            color: #000;
        }
    </style>
    <section style="border:2px solid #43a7d5">
        <div style="background:#43a7d5">

        </div>

        <aside style="padding:15px">
            <h5 style="color: #000;">
                <p>Dear Customer,<br>
                    Thank you for letting us serve you. We would like to know how we performed.
                    Please
                    spare some moments to give us your valuable feedback as it will help us in improving our service.
                </p>
            </h5>
            <br>

            <h4>Please rate your service experience for the following parameters</h4>

            <form method="post" target="_blank">
                
                {% csrf_token %}
                
                <label>1. Your overall experience with us ?</label><br>

                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>2. Time to time update of your location.</label><br>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>3. Experience while waiting for response from Electricity board.</label><br>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>4. Satisfactory Visuals/Images</label><br>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>5. Quality of work done</label><br>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>6.The display of Maps</label><br>
                <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label>7. The Announcements section</label><br><br />
                <div style="color:grey">
                    <span style="float:left">
                        POOR
                    </span>
                    <span style="float:right">
                        BEST
                    </span>

                </div>
                <span class="scale-rating">
                    <label value="1">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="2">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="3">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="4">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="5">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="6">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="7">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="8">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="9">
                        <input type="radio" name="rating">
                        <label style="width:100%;"></label>
                    </label>
                    <label value="10">
                        <input type="radio" name="rating" value="10">
                        <label style="width:100%;"></label>
                    </label>
                </span>

                <div class="clear"></div>
                <hr class="survey-hr">
                <label for="m_3189847521540640526commentText">8. Any Other suggestions:</label><br /><br />
                <textarea cols="75" name="commentText" rows="5" style="width:320px"></textarea><br>
                <br>
                <div class="clear"></div>
                <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit"
                    value="Submit your review">&nbsp;
            </form>
        </aside>
    </section>

{% endblock %}
