{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
.alert {
    width: 90%;
    margin-left: 6vw;
    margin-top: 1vh;
}
.btn {
  position: relative;
  padding: 5px 20px 5px 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #79c5f5, #2389c4);
  background-image: -moz-linear-gradient(top, #79c5f5, #2389c4);
  background-image: -ms-linear-gradient(top, #79c5f5, #2389c4);
  background-image: -o-linear-gradient(top, #79c5f5, #2389c4);
  background-image: linear-gradient(to bottom, #79c5f5, #2389c4);
}

.btn:focus {
  outline: none;
}
</style>
{% endblock style %}
{% block content %}

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    {% if messages %}
                    <div>
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger text-center">{{ message }}</div>
                      {% else %}
                      <div class="alert alert-success text-center">{{message}}</div>
                      {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <form class="m-5" name="form_one" method="POST" action="">
                                {% csrf_token %}
                                <h2>Enter Your Email</h2>
                                <div class="form-group">
                                  <input type="text" class="form-control" name="email" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                </div>
                                <button type="submit"  name="form_one" class="btn">Get Otp</button>  
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %} 