{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="m-5" name="form_one" method="POST">
                                {% csrf_token %}
                                <h2>Sign Up</h2>
                                <div class="form-group">
                                  <input type="text" class="form-control" name="username" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                  {{ErrorEmail}}
                                </div>
                                <div class="form-group">
                                  <input type="text" name="first_name" class="form-control" placeholder="first_name" id="exampleInputFirst" required>
                                {{ErrorFP}}
                                </div>
                                <div class="form-group">
                                  <input type="text" name="last_name" class="form-control" placeholder="last_name" id="exampleInputFirst" required>
                                {{ErrorWs}}
                                </div>
                                <div class="form-group">
                                  <input type="password" name="password" class="form-control" placeholder="Password" id="exampleInputPassword1" required>
                                </div>
                                <div class="form-group">
                                  <input type="password" name="rpassword" class="form-control" placeholder="Confirm Password" id="exampleInputRPassword1" required>
                                  {{ErrorFP}}
                                </div>
                                <button type="submit"  name="form_one" class="btn btn-primary">Submit</button>  
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %} 