{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
.alert {
    width: 90%;
    margin-left: 6vw;
    margin-top: 1vh;
}
</style>
{% endblock style %}
{% block content %}

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    {% if messages %}
                    <div>
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger text-center">{{ message }}</div>
                      {% else %}
                      <div class="alert alert-success text-center">{{message}}</div>
                      {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <form class="m-5" name="form_one" method="POST" action="">
                                {% csrf_token %}
                                <h2>Enter Your Email</h2>
                                <div class="form-group">
                                  <input type="text" class="form-control" name="email" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                </div>
                                <button type="submit"  name="form_one" class="btn btn-primary">Get Otp</button>  
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %} 