{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= About Section ======= -->

  <section id="home" class="about">
    <div class="container">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0">

          <img src="{% static 'Elektra_Logo.png' %}" width="320px">

          <hr style="width: 50%; color: black; font-weight: 300;">
          <p style="text-align: left;">
            <br>

          <h3 style="font-family: 'Cinzel', serif; font-size: 2rem; color: #03506f;">Introducing an ML Powered, <br> <b> Electricity Blackout </b> prediction tool </h3>
        <em>  which informs us about an electrical failure, in an area, with real-time monitoring to predict
          smart
          decisions.</em>
          <br>
          <br>
          <br>

          <a href="{% url 'login' %}"><button style="
                font-weight: 800;
                font-size: 20px;
                display: inline-block;
                padding: 20px 20px 20px 20px;
                border-radius: 23px;
                transition: 0.5s;
                background:#383e56;
                border-style: none;
                color: #e4fbff;
                ">Know More</button></a>

          </p>

        </div>

        <div class="col-lg-6">
          <a href=""><img src="{% static 'header.jpg' %}" class="img-fluid" alt=""></a>
        </div>
      </div>
    </div>

    </div>
  </section>

  <!--===== End About Section ====== -->
  <br>
  <br>
  <br>
  <br>

  <section id="home" class="about" style="background-color: #ffe05d;">
    <div class="section-title">
      <h2>About Us</h2>

    </div>

    <div class="container">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0">

          <a href=""><img src="{% static 'home-2.jpg' %}" class="img-fluid" alt=""></a>

          <br>
          <br>


          </p>

        </div>

        <div class="col-lg-6">


          <p style="font-size: 1.5rem; line-height: 2rem; font-family: 'Exo', sans-serif;">Electricity outage is prevelant issue in many states of India, <br>
            So, we introduce to you, <br>
              <b> Elektra </b>, a ML based, Web Application
             <br>
            which will be used for real-time monitoring
            of the Electricity Blackouts in an area. <br> The statistics shall be shared and displayed,
            in form of maps, pie charts, line graphs etc., <br> wherein, people will be able to
            report the electricity outages <br> in their area of the city, in response to which the
            Electricity Department will <br> track and rectify the fault. </p>


        </div>
      </div>
    </div>

    </div>
  </section>


  <!-- ======= Featured Section ======= -->
  <section id="featured" class="featured">
    <div class="section-title">
      <h2>Features</h2>

    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box">
            <i class="icofont-computer"></i>


            <p style="font-family: 'Source Serif Pro', serif; font-size: 1rem; font-weight: bold;">Real-time monitoring on maps

            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-dashboard-web"></i>

            <p style="font-family: 'Source Serif Pro', serif;  font-size: 1rem; font-weight: bold;";>Admin / User Dashboard

            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-bars"></i>


            <p style="font-family: 'Source Serif Pro', serif;  font-size: 1rem; font-weight: bold;";>Analysis of different areas in a city

            </p>
          </div>
        </div>


      </div>

    </div>
    <br>
    <br>

    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box">
            <i class="icofont-chart-pie"></i>


            <p style="font-family: 'Source Serif Pro', serif; font-size: 1rem; font-weight: bold;">Analysis of previous data of a city

  


            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-bullhorn"></i>


            <p style="font-family: 'Source Serif Pro', serif; font-size: 1rem; font-weight: bold;">Announcements by Electricity Board

            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-tasks-alt"></i>
        <p style="font-family: 'Source Serif Pro', serif; font-size: 1rem; font-weight: bold;">Public Feedback

           
            </p>
          </div>
        </div>


      </div>

    </div>

  </section><!-- End Featured Section -->









  <!-- ======= Featured Section ======= -->

  <section id="featured" class="featured" style="background-color: #fcf876;>

    <div class="section-title">
      <h2>Why Us?</h2>

    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box">
            <i class="icofont-computer"></i>


            <p>Easily create an account on our platform, to track and report the outage activity in your area!
r

            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-image"></i>
            <p>The User Experience of our webpage is known to be extremely unique!</p>

          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="icofont-tasks-alt"></i>


            <p>Are you an industrialist or educationist? This is just the right thing for you.

            </p>
          </div>
        </div>
      </div>

    </div>

  </section>

 
  {% endblock %}
