{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= About Section ======= -->

  <section id="home" class="about">
    <div class="container">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0">

          <img src="{% static 'Elektra_Logo.png' %}" width="320px">
          <p style="text-align: left;">
            <br>

            <h3>An ML Powered <br>Electricity Outage<br> Prediction Tool</h3>
            <br>

            To predict the time and venue of a probable electricity outage using real-time monitoring and smart decisions

            <br>
            <br>

            <a href="{% url 'login' %}"><button style=" font-weight: 800;
                font-size: 13px;
                display: inline-block;
                padding: 10px 10px 10px 10px;
                border-radius: 50px;
                transition: 0.5s;
                background:#FED103;
                border-style: none;
                color: #000;">Know More</button></a>
          </p>

        </div>

        <div class="col-lg-6">
          <a href=""><img src="{% static 'header.jpg' %}" class="img-fluid" alt=""></a>
        </div>
      </div>
    </div>

    </div>
  </section>

  <!--===== End About Section ====== -->
  <br>
  <br>
  <br>
  <br>
  <section id="home" class="about">
    <div class="section-title">
      <h2>The Problem</h2>

    </div>

    <div class="container">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0">

          <a href=""><img src="{% static 'home-2.jpg' %}" class="img-fluid" alt=""></a>

          <br>
          <br>


          </p>

        </div>

        <div class="col-lg-6">

          <p style="font-size: 1.1rem;">In India, unannounced electricity outages are a significant issue.
            <b>Elektra</b> is an ML based Web App which will keep track of the electricity outages in an area and
            visually represent them in the form of maps, dashboard with pie charts and line graphs. The mechanism behind this app is that,
            when there is an electricity outage, people will report in this web app, in response to which the Electricity Department will solve the fault.
           The app will keep track of these reports and predict the future frequencies of electricity outages in that area.


          </p>
        </div>
      </div>
    </div>

    </div>
  </section>


  <!-- ======= Featured Section ======= -->
  <section id="featured" class="featured ">
    <div class="section-title">
      <h2>Features</h2>
    </div>
    <div class="container">
      <div class="row ">
        <div class="col-lg-4 ">
          <div class="icon-box  card h-100">
            <i class="icofont-computer "></i>
            <p>Real-time monitoring with in-built map
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box card h-100">
            <i class="icofont-dashboard-web"></i>
            <p>Admin/User Dashboard
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box card h-100">
            <i class="icofont-bars"></i>
            <p>Analysis reports of various cities 
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box  card h-100">
            <i class="icofont-chart-pie"></i>
            <p>City-wise preceding data analysis
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box  card h-100">
            <i class="icofont-bullhorn"></i>
            <p>Frequent updates from the Electricity Board 
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box  card h-100">
            <i class="icofont-tasks-alt"></i>
            <p>User feedback for better enhancements
            </p>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Featured Section -->









  <!-- ======= Featured Section ======= -->
  <section id="featured" class="featured">
    <div class="section-title">
      <h2>Why Us?</h2>

    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box card h-100">
            <i class="icofont-computer"></i>

            <p>User-friendly account management and easy to analyse data representation of electricity outages 

            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box card h-100">
            <i class="icofont-image"></i>

            <p>Unique visual experience for the user. Real-time tracking and monitoring of electricity outages</p>

          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box card h-100">
            <i class="icofont-tasks-alt"></i>

            <p>Highly beneficial for industries and educational institutions which depend largely upon electricity
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Section -->

  {% endblock %}
