{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

<!-- css for google login button -->
<style>
  *, *:before, *:after {
            box-sizing: border-box;
        }

        .g-sign-in-button {
            margin: 10px;
            display: inline-block;
            width: 240px;
            height: 50px;
            background-color: #4285f4;
            color: #fff;
            border-radius: 1px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
            transition: background-color .218s, border-color .218s, box-shadow .218s;
        }

        .g-sign-in-button:hover {
            cursor: pointer;
            -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
            box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
        }

        .g-sign-in-button:active {
            background-color: #3367D6;
            transition: background-color 0.2s;
        }

        .g-sign-in-button .content-wrapper {
            height: 100%;
            width: 100%;
            border: 1px solid transparent;
        }

        .g-sign-in-button img {
            width: 18px;
            height: 18px;
        }

        .g-sign-in-button .logo-wrapper {
            padding: 10px;
            background: #fff;
            width: 48px;
            height: 100%;
            border-radius: 1px;
            display: inline-block;
        }

        .g-sign-in-button .text-container {
            font-family: Roboto,arial,sans-serif;
            font-weight: 500;
            letter-spacing: .21px;
            font-size: 16px;
            line-height: 48px;
            vertical-align: top;
            border: none;
            display: inline-block;
            text-align: center;
            width: 180px;
        }

.logo{
  padding-top: 55px;
}
</style>

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>You are 30 seconds away from Elektra!</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                  
                    <div class="row">
                        <div class="col-md-6">
                          
                            <form class="m-5" action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                <h2>Sign Up</h2>
                                <div class="form-group">
                                  <input type="text" class="form-control" name="username" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                  
                                  {{errorE}}
                                </div>
                                <div class="form-group">
                                  <input type="text" name="first_name" class="form-control" placeholder="first_name" id="exampleInputFirst" required>
                                </div>
                                <div class="form-group">
                                  <input type="text" name="last_name" class="form-control" placeholder="last_name" id="exampleInputFirst" required>
                                </div>
                                <div class="form-group">
                                  <input type="text" name="email" class="form-control" placeholder="Username" id="exampleInputFirst" required>
                                </div>
                                <div class="form-group">
                                  <input type="password" name="password" class="form-control" placeholder="Password" id="exampleInputPassword1" required>
                                {{errorP}}
                                </div>
                                <div class="form-group">
                                  <input type="password" name="rpassword" class="form-control" placeholder="Confirm Password" id="exampleInputRPassword1" required>
                                  {{errorPC}}
                                </div>
                                <i class="ion-ios-arrow-right"></i> <a href="{% url 'forgotp' %}">Forget Password</a>
                                <button type="submit" class="btn btn-primary">Submit</button>  
                              </form>
                        </div>
                        <!-- Login form -->
                        <div class="col-md-6">
                            <form class="m-5" action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <h2>Log in</h2>
                                <div class="form-group">
                                  <input type="text" class="form-control" name="username" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  
                                </div>
                                <div class="form-group">
                                  <input type="password" name="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
                                    {{invalid}}
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                              <!-- social login buttons -->
                              <center>or <br>
                              <div onclick="location.href = '{% provider_login_url 'google' %}';" class='g-sign-in-button'>
                                <div class=content-wrapper>
                                  <div class='logo-wrapper'>
                                    <img src='{% static "google.png" %}'>
                                  </div>
                                  <span class='text-container'>
                                    <span>Sign in with Google</span>
                                  </span>
                                </div>
                              </div></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
