{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .btn {
  position: relative;
  float: right;
  margin-right: 10%;
  padding: 5px 30px 5px 30px;
  color: #fff;
  font-size: 26px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #79c5f5, #2389c4);
  background-image: -moz-linear-gradient(top, #79c5f5, #2389c4);
  background-image: -ms-linear-gradient(top, #79c5f5, #2389c4);
  background-image: -o-linear-gradient(top, #79c5f5, #2389c4);
  background-image: linear-gradient(to bottom, #79c5f5, #2389c4);
}

.btn:focus {
  outline: none;
}
</style>
    
    <div id="mapid" class="mx-auto"></div>
    <script>
        var mymap = L.map('mapid').setView([24.556680, 73.705724], 14);
        mymap.locate();
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiY3NkY3NkYyIsImEiOiJja2ZqeGIxMXAwYnJjMndxbXhrM2ZnOTY4In0.-TujrBej7jOx3oGAIb0Qiw'
        }).addTo(mymap);

        {% for i in data %}
            {% if i.is_solved %}
                var circle = L.circle([{{i.latitude}}, {{i.longitude}}], {
                    color: 'green',
                    fillColor: '#0dfd04',
                    fillOpacity: 0.5,
                    radius: 500
                }).addTo(mymap);
            {% else %}
                var circle = L.circle([{{i.latitude}}, {{i.longitude}}], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 500
                }).addTo(mymap);
            {% endif %}
        {% endfor %}

        function onLocationFound(e) {
            var radius = e.accuracy;

            L.marker(e.latlng).addTo(mymap)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();

            L.circle(e.latlng, radius).addTo(mymap);
            document.getElementById("latitude").value = e.latlng.lat;
            document.getElementById("longitude").value = e.latlng.lng;
        }
        
        mymap.on('locationfound', onLocationFound);
        
        var legend = L.control({ position: "topright" });

        legend.onAdd = function(mymap) {
        var div = L.DomUtil.create("div", "legend");
        div.innerHTML += "<h4>Power Status</h4>";
        div.innerHTML += '<span class="dot" style="  height: 15px;width: 15px;background-color: #0dfd04;border-radius: 50%;display: inline-block;"></span> <span>Power OK</span><br>';
        div.innerHTML += '<span class="dot" style="  height: 15px;width: 15px;background-color: #f03;border-radius: 50%;display: inline-block;"></span> <span>Power Cut</span><br>';
        return div;
        };
        legend.addTo(mymap);
    
    </script>

    <!-- Button trigger modal -->
<button type="btn" id="confirm" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" hidden>
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Power Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you have a power cut?
        </div>
        <div class="modal-footer">
            <form action="{% url 'coordinates' %}" method="POST">
                <input type="text" id="latitude" name="latitude" hidden/>
                <input type="text" id="longitude" name="longitude" hidden/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </form>
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}