{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="m-5" name="form_two" method="POST" action="">
                                {% csrf_token %}
                                <h2>Enter the Otp</h2>
                                <div class="form-group">
                                  <input type="number" class="form-control" name="otp" placeholder="Otp" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                </div>
                                <button type="submit"  name="form_one" class="btn btn-primary">Submit</button>  
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %} 